.home-page-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  > .row {
    @media (max-width: 768px) {
        margin: 0;
    }
  }
  @media (min-width: 768px) {
    padding-top: 75px;
    padding-left: 126px !important;
    padding-right: 83px !important;
  }
}